body {
background-color: /*BurlyWood*/ #4682B4;
color: GoldenRod; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Trebuchet MS", Times, serif;

}

a:hover {
    color: lavender;
}
/* Below this is styling for my index page */
h1.index, h2.index, h3.index {
    line-height: 50px;
    text-align: center;
    /* padding: 0 20px; */
}

p.index {
    line-height: 50px;
    text-align: center;
    /* padding: 0 20px; */
}

img.index {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* padding: 0 30px; */
}

ol.center {
    list-style-type: lower-alpha;
    list-style-position: inside;
    padding: 5em;
    text-align: center;
}
/* Above this is styling for my index page */

/* Below this is styling for my resume page */
h1.resume {
    line-height: 50px;
    padding: 0 5px;
}

h2.resume {
    line-height: 50px;
    padding: 0 20px;
}

h3.resume {
    line-height: 50px;
    padding: 0 20px;
}

p.resume {
    line-height: 20px;
    padding: 0 40px;
    display: list-item;                                     
    list-style-type: disc; 
    list-style-position: inside;
}

p.resume2 {
    line-height: 20px;
    padding: 0 60px;
    display: list-item;                                     
    list-style-type: disc; 
    list-style-position: inside;
}

ol.resume {
    list-style-type: lower-alpha;
    padding: 20px 50px;
}

ul.resume {
    padding: 0 57px;
}
/* Above this is styling for my resume page */

/* Below this is styling for my portfolio page */
figure.portfolio {
    width:30%; 
    margin:auto; 
    padding-top: 1vw; 
    padding-bottom: 1vw;
}
figcaption {
    font-style: italic; 
    font-size: smaller;
}
img.portfolio {
    max-width:500px; 
    width:100%
}
/* Above this is styling for my portfolio page */

/* Below this is styling for my about page */
figure.about {
    width:30%; 
    margin:auto; 
    padding-top: .5vw; 
    padding-bottom: 1vw;
}
img.about {
    max-width:500px; 
    width:100%
}
h1.about{
    line-height: 50px;
    text-align: center;
}
p.about {
    line-height: 30px;
    margin: auto;
    text-align: center;
    padding: 0 300px;
}
p.about2 {
    line-height: 30px;
    margin: auto;
    text-align: center;
    padding: 20px 300px;
}
p.about3 {
    line-height: 30px;
    margin: auto;
    text-align: center;
    padding: 0 300px;
}
/* Above this is styling for my about page */

/* Below this is styling for my contact page */
/* Above this is styling for my contact page */

/* Below this is styling for the Navigation Bar */
* {
    margin: 0;
    padding: 0;  
}

nav {
    width: 100%;
    height: 50px;
    background-color: #1D6EB1;
}

ul.menu {
    
}

ul.menu li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 50px;
}

ul.menu li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Trebuchet MS", Times, serif;
    color: GoldenRod;
    padding: 0 20px;
}

ul.menu li a:hover {
    color: lavender;
}
/* Above this is styling for the Navigation Bar */