body {
background-color: /*BurlyWood*/ #4682B4;
color: GoldenRod; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Trebuchet MS", Times, serif;

}

h1 {
    line-height: 50px;
    text-align: center;
    /* padding: 0 20px; */
}

h2 {
    line-height: 50px;
    text-align: center;
    /* padding: 0 20px; */
}

h3 {
    line-height: 50px;
    text-align: center;
    /* padding: 0 20px; */
}

p {
    line-height: 50px;
    text-align: center;
    /* padding: 0 20px; */
}

img {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* padding: 0 30px; */
}

ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
    padding: 5em;
    text-align: center;
}

/* Below this is styling for the Navigation Bar */
* {
    margin: 0;
    padding: 0;  
}

nav {
    width: 100%;
    height: 50px;
    background-color: #1D6EB1;
}

ul {
    
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 50px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Trebuchet MS", Times, serif;
    color: GoldenRod;
    padding: 0 20px;
}

ul li a:hover {
    color: lavender;
}